# Node modules
node_modules/

# Python
__pycache__/
*.pyc
.venv/

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment
.env
dist_produccion/
test.db
uploads/
backend/__pycache__/
.env
backend/.env
Backups/
.agents/skills/
